/* LANDING PAGE */

@keyframes Transistion { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.header-color {
  background: linear-gradient(270deg, #22c1c3, #fdbb2d);
  background-size: 600% 600%;
  animation: Transistion 6s ease infinite;
}

.header-color :hover {
  color: #178788;
}

.landing-grid {
  text-align: center;
  position: flex;
  top: 0;
  left: 0;
 
  background: linear-gradient(270deg, #22c1c3, #fdbb2d);
  background-size: 600% 600%;

  animation: Transistion 6s ease infinite;

}

.avatar-img {
  padding-top: 2em;
  display: block;
  width: 283px;
  height: 283px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;

}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size:66px;
  font-weight: bold;
  color: white;
  margin: auto;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white; 
  font-size: 20px;
  padding: 1em;
  margin: auto;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px; 
}

/* PROJECTS PAGE */

.category-tabs {
  color: black;
  font-size: 5em;
  margin: auto;
  padding-left: 0.5em;
}
.category-tabs h1 {
  color: black;
  margin: auto;
  position: flex;
}
.project-grid {
  display: flex;
}

.project-grid h1 {
  font-size: 2em;
}

/* CONTACT PAGE */
.contact-body {
  margin: auto;
  background: grey;
  position: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid teal;
  margin-bottom: 20px;
}
.contact-grid h2 {
  font-family: 'Oswald'
}

/* Resume Page */
.resume-right-col {
  background: #27221F;
  opacity: 0.8;
  color: white;
  padding: 2em;

}
